on post-fs
    mount tmpfs tmpfs /mnt/standalone nodev noexec nosuid
    symlink /vendor/etc/firmware /etc/firmware

on boot
    chown wifi wifi /sys/module/bcmdhd/parameters/firmware_path
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
